<section class="container-fluid p-0" style="min-height: 100vh">
  <div class="border-bottom px-3 py-2 d-flex align-items-center sticky-top bg-white">
    <a
      href="/home"
      class="btn-gray rounded-circle p-2 d-flex justify-content-center align-items-center"
    >
      <svg viewBox="0 0 24 24">
        <g>
          <path
            d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"
          ></path>
        </g>
      </svg>
    </a>
    <div class="d-flex flex-column justify-content-center ms-3">
      <h2 class="fs-6 m-0 fw-bold"><%= thisUser.firstname + " " + thisUser.lastname %></h2>
      <span class="text-muted fs-8"><%= thisUser.tweets.length %> Tweets</span>
    </div>
  </div>

  <header class="bg-secondary" style="height: 200px"></header>
  <div
    class="d-flex justify-content-between align-content-start p-3 position-relative"
    id="profile-container"
  >
    <div class="d-flex flex-column justify-content-center" id="profile-info">
      <div class="rounded-circle p-1 bg-white">
        <img
          src="https://abs.twimg.com/sticky/default_profile_images/default_profile_x96.png"
          alt="No avatar image"
          class="img-fluid rounded-circle profile-image"
        />
      </div>
      <h2 class="fw-bolder fs-6"><%= thisUser.firstname + " " + thisUser.lastname %></h2>
      <p class="text-muted m-0 fs-7">@<%= thisUser.username %></p>
      <p class="my-1 fs-7"><%= thisUser.bio %></p>
      <p class="text-muted m-0 fs-7">
        <svg viewBox="0 0 24 24">
          <g>
            <path
              d="M19.708 2H4.292C3.028 2 2 3.028 2 4.292v15.416C2 20.972 3.028 22 4.292 22h15.416C20.972 22 22 20.972 22 19.708V4.292C22 3.028 20.972 2 19.708 2zm.792 17.708c0 .437-.355.792-.792.792H4.292c-.437 0-.792-.355-.792-.792V6.418c0-.437.354-.79.79-.792h15.42c.436 0 .79.355.79.79V19.71z"
            ></path>
            <circle cx="7.032" cy="8.75" r="1.285"></circle>
            <circle cx="7.032" cy="13.156" r="1.285"></circle>
            <circle cx="16.968" cy="8.75" r="1.285"></circle>
            <circle cx="16.968" cy="13.156" r="1.285"></circle>
            <circle cx="12" cy="8.75" r="1.285"></circle>
            <circle cx="12" cy="13.156" r="1.285"></circle>
            <circle cx="7.032" cy="17.486" r="1.285"></circle>
            <circle cx="12" cy="17.486" r="1.285"></circle>
          </g>
        </svg>
        <span class="ms-1"
          >Joined <%= thisUser.createdAt.toLocaleDateString('en-US', { month: 'long',year:
          'numeric'}) %></span
        >
      </p>
      <p class="mt-1">
        <span class="text-muted fs-7 me-2"
          ><span class="text-black fw-bold" id="following-count"
            ><%= thisUser.following.length %>
          </span>
          Following</span
        >
        <span class="text-muted fs-7 me-2"
          ><span class="text-black fw-bold"><%= thisUser.followers.length %> </span> Followers</span
        >
      </p>
    </div>
    <div>
      <% if (thisUser.username === user.username) { %>
      <a
        href="#"
        class="px-3 py-2 fw-bold fs-7 btn-outline-secondary rounded-pill follow-edit-button"
        >Edit profile</a
      >
      <% } else { %> <a href="/follow/<%= thisUser.id %>" class="unfollow px-3 py-2 fw-bold fs-7
      rounded-pill follow-edit-button <%= user.following.includes(thisUser.id) ? null : "d-none" %>"></a> 
      <a href="/follow/<%= thisUser.id %>" class="follow px-3 py-2 fw-bold fs-7 rounded-pill
      follow-edit-button <%= user.following.includes(thisUser.id) ? "d-none" : null %>" >Follow</a>
       <% } %>
    </div>
  </div>
  <!-- Navigation -> Tweets - Tweets & Replies - Media - Likes  -->
  <div class="d-flex" id="profile-nav">
    <a class="flex-grow-1 btn-gray btn rounded-0 fs-7 fw-600 py-3 text-secondary active">Tweets</a>
    <a class="flex-grow-1 btn-gray btn rounded-0 fs-7 fw-600 py-3 text-secondary"
      >Tweets & replies</a
    >
    <a class="flex-grow-1 btn-gray btn rounded-0 fs-7 fw-600 py-3 text-secondary">Media</a>
    <a class="flex-grow-1 btn-gray btn rounded-0 fs-7 fw-600 py-3 text-secondary">Likes</a>
  </div>
  <!-- Tweets -->
  <div id="tweets-section">
    <% if (thisUser.tweets.length > 0) { %> <% for( const tweet of thisUser.tweets) { %> <%-
    include("../partials/tweet", {tweet}) %> <% } %> <% } %>
  </div>
</section>
