<section class="right-sidebar">
  <div class="py-2 px-3 sticky-top bg-white">
    <form
      action="/"
      method="get"
      class="d-flex align-items-center fs-7 input-container position-relative"
    >
      <input type="text" placeholder="Search Twitter" class="w-100 pe-2 py-2 rounded-pill" />
      <svg viewBox="0 0 24 24" width="1rem">
        <g>
          <path
            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"
          ></path>
        </g>
      </svg>
    </form>
  </div>
  <div class="row gx-0 gy-4 px-3 py-1">
    <div>
      <div class="bg-light rounded-4">
        <div class="p-3 d-flex justify-content-between align-items-center">
          <h6 class="m-0 fw-bolder">Trends for you</h6>
          <i class="col-1 bi bi-gear"></i>
        </div>
        <ul class="p-0 m-0">
          <li class="d-flex py-2 px-3 justify-content-between align-items-center trend-item">
            <div class="d-flex flex-column justify-content-center">
              <span class="text-muted">Trending in Uruguay</span>
              <div class="fw-bold fs-7 my-1">Wanda</div>
              <span class="text-muted">24.8k Tweets</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
              />
            </svg>
          </li>
          <li class="d-flex py-2 px-3 justify-content-between align-items-center trend-item">
            <div class="d-flex flex-column justify-content-center">
              <span class="text-muted">Sports &middot; Trending</span>
              <div class="fw-bold fs-7 my-1">Tabarez</div>
              <span class="text-muted">7,067 Tweets</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
              />
            </svg>
          </li>
          <li class="d-flex py-2 px-3 justify-content-between align-items-center trend-item">
            <div class="d-flex flex-column justify-content-center">
              <span class="text-muted">Entertainment &middot; Trending</span>
              <div class="fw-bold fs-7 my-1">Vicuña</div>
              <span class="text-muted">6,090 Tweets</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
              />
            </svg>
          </li>
          <li class="d-flex py-2 px-3 justify-content-between align-items-center trend-item">
            <div class="d-flex flex-column justify-content-center">
              <span class="text-muted">Trending Uruguay</span>
              <div class="fw-bold fs-7 my-1">Petinatti</div>
              <span class="text-muted">9.8k Tweets</span>
            </div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-three-dots"
              viewBox="0 0 16 16"
            >
              <path
                d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
              />
            </svg>
          </li>
        </ul>
        <a href="#" class="text-primary d-block p-3 fs-7 trend-item rounded-bottom-4">Show more</a>
      </div>
    </div>

    <div>
      <div class="bg-light rounded-4">
        <div class="p-3 d-flex justify-content-between align-items-center">
          <h6 class="m-0">Who to follow</h6>
        </div>
        <ul class="p-0 m-0">
            
          <% for( const thisUser of users ) { %>
          <li class="d-flex py-2 px-3 align-items-center trend-item" onclick="location.href = '/<%= thisUser.username %>'">
            <div class="px-1">
              <img
                src="<%= thisUser.profile %> "
                alt="..."
                style="width: 2rem"
                class="bg-info rounded-circle"
              />
            </div>
            <div class="d-flex flex-column justify-content-center px-1">
              <a class="fw-bold fs-7 my-1 text-black"
                ><%= thisUser.firstname + " " + thisUser.lastname %></a
              >
              <p class="text-muted m-0 fs-7">@<%= thisUser.username %></p>
            </div>
            <div class="flex-grow-1 text-end">
              <a href="/follow/<%= thisUser.id %>" class="unfollow px-3 py-2 fw-bold fs-7
              rounded-pill <%= user.following.includes(thisUser.id) ? null : "d-none" %>"></a> <a
              href="/follow/<%= thisUser.id %>" class="follow px-3 py-2 fw-bold fs-7
              rounded-pill <%= user.following.includes(thisUser.id) ? "d-none" : null %>" >Follow</a>
            </div>
          </li>
          <% } %>
        </ul>
        <a href="#" class="text-primary d-block p-3 fs-7 trend-item rounded-bottom-4">Show more</a>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-6 col-md-4 text-center">
        <a href="#" class="link-secondary">Terms of service</a>
      </div>
      <div class="col-6 col-md-4 text-center">
        <a href="#" class="link-secondary">Privacy Policy</a>
      </div>
      <div class="col-6 col-md-4 text-center">
        <a href="#" class="link-secondary">Cookie Policy</a>
      </div>
      <div class="col-6 flex-grow-1 text-center">
        <a href="#" class="link-secondary">&copy; 2021 Ejercicio Twitter</a>
      </div>
    </div>
  </div>
</section>
