<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/meta") %>
        <title>Followers / Twitter</title>
</head>

<body>
    <section class="d-flex justify-content-center container-fluid">
        <!-- Sidebar -->
        <div class="left-sidebar d-flex justify-content-end">
            <%- include("partials/sidebar") %>
        </div>
        <!-- Main -->
        <main class="border p-0">
            <section class="container-fluid p-0" style="min-height: 100vh">
                <div class=" px-3 py-2 d-flex align-items-center sticky-top bg-white">
                    <a href="/home"
                        class="btn-gray rounded-circle p-2 d-flex justify-content-center align-items-center">
                        <svg viewBox="0 0 24 24">
                            <g>
                                <path
                                    d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z">
                                </path>
                            </g>
                        </svg>
                    </a>
                    <div class="col-6 d-flex flex-column justify-content-center ms-3">
                        <h2 class="fs-6 m-0 fw-bold">Followers</h2>
                    </div>

                    <div class="col-6 d-flex flex-column justify-content-center ms-3">
                        <h2 class="fs-6 m-0"><a href="/user/<%=user._id%>/following">Following</a></h2>
                    </div>
                </div>
                <div class=" row p-3  border-top ">
                    
                    <!-- <%# console.log("FollowerUsers: \n" + followerUsers) %>  -->
                    <% for(const follower of followerUsers) {%>
                    <%# console.log("Follower: \n" + follower) %> 

                        <div class="col-2">
                            <a href="/user/<%= follower.userName %> ">
                                <img src="<%= follower.profilePhoto %> " class="img-fluid user-image" />
                            </a>
                        </div>

                        <div class="col-10 d-flex flex-column">
                            <a href="/user/<%= follower.userName%>" class="fs-7  fw-bold text-black d-flex flex-column">
                                <span class="hover-underline mb-0 p-0">
                                    <%= follower.firstName + " " + follower.lastName %>
                                </span>
                                <span class="fw-normal text-secondary mt-0 p-0">@<%= follower.userName %>
                                        &middot;</span>
                            </a>
                            <p class="fs-7 mt-1">
                                <%= follower.description %>
                            </p>
                        </div>
                        <%} %>
                </div>
            </section>
        </main>
        <!-- Right Column -->
        <%- include("partials/rightSidebar") %>
    </section>
    <%- include("partials/scripts") %>
</body>

</html>